html {
  height: 95%;
  font-family: 'Lucida Console', 'Arial', monospace;
}

body {
  background-color: #1f1e29;
  color: #cfcfcf;
  height: 95%;
}

.heading {
  font-size: 5vh;
  text-align: center; 
}

button {
  position: relative;
  display: inline-block;
  width: calc(100% - 2vw);
  min-width: 50px;
  max-width: 200vh;
  height: 20%;
  min-height: 50px;
  border: none;
  border-radius: 1vw;
  margin: 1vh 1vw 1vh 1vw;
  font-size: 10vh;

  color: #cfcfcf;
  background-color: #313131;
}

.activeButton {
  cursor: pointer;
}

.activeButton:hover {
  background-color: #cfcfcf;
  color: black;
}

.activeButton:active {
  background-color: #494949;
  color: #cfcfcf;
}